PORT=3000
WEBHOOK_SECRET=github_webhook_secret_key_here
ENCRYPTION_KEY=my_secure_32_char_encryption_key_
SIMULATION_MODE=true
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
MAX_CONCURRENT_BUILDS=3
PORT_RANGE_START=10000
PORT_RANGE_END=20000
